.contProd {
    border: 1px solid #c0c0c0;
    padding: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.prodTitle {
    color: #1f86b6;
    text-align: center;
    font-size: 21px;
    margin-bottom: 12px;
}

.prodImg {
    margin-top: 20px;
    width: 65%;
}

.prodPrice {
    color: #1f86b6;
    font-size: 24px;
    font-weight: 700;
    margin-top: 20px;
}

.medP {
    font-size: 11px;
    margin-bottom: 10px;
}

/* MEDIA QUERYES */
/* -------------- 1450 px -------------- */
@media screen and (max-width: 1450px) {
    .prodTitle {
        font-size: 19px;
        margin-bottom: 12px;
    }

    .prodPrice {
        font-size: 21px;
    }
}

/* -------------- 900 px -------------- */
@media screen and (max-width: 900px) {}

/* -------------- 600 px -------------- */
@media screen and (max-width: 600px) {
    .prodImg {
        margin-top: 20px;
        width: 58%;
    }
}