.contCardPCart {
    width: 80%;
    height: 150px;
    border: 1px solid rgb(192, 192, 192);
    padding: 20px 40px;

    display: flex;
    align-items: center;
    gap: 30px;
}

.imgCPC {
    width: 200px;
    height: 120px;

}

.contetCPC {
    width: 30%;
}

.priceCPC {
    width: 120px;
    font-weight: 500;
    font-size: 20px;
}

.btnCPC {
    width: 120px;
    height: 33px;

    background: #124a80;
    color: white;
    border-radius: 9px;
    shape-outside: none;
    cursor: pointer;
}

/* -------------- 1200 px -------------- */
@media screen and (max-width: 1200px) {
    .contetCPC {
        width: 30%;
        font-size: 14px;
    }

    .priceCPC {
        width: 90px;
        font-weight: 500;
        font-size: 17px;
    }
}

/* -------------- 780 px -------------- */
@media screen and (max-width: 780px) {
    .contCardPCart {
        width: 60%;
        height: max-content;
        border: 1px solid rgb(192, 192, 192);
        padding: 20px 40px;
        margin: 0 auto;

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .imgCPC {
        width: 250px;
        height: 150px;

    }

    .contetCPC {
        width: 60%;
    }

    .priceCPC {
        width: 120px;
        font-weight: 500;
        font-size: 18px;
        text-align: center
    }
}

/* -------------- 500 px -------------- */
@media screen and (max-width: 500px) {
    .contCardPCart {
        width: 80%;
        height: max-content;
        border: 1px solid rgb(192, 192, 192);
        padding: 20px 40px;
        margin: 0 auto;

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .imgCPC {
        width: 200px;
        height: 120px;
    }

    .contetCPC {
        width: 60%;
    }

    .priceCPC {
        width: 120px;
        font-weight: 500;
        font-size: 18px;
        text-align: center
    }
}