.contCartEl {
    margin-bottom: 40px;
    border-top: 1px solid rgb(153, 153, 153);
    padding: 15px 30px;
    margin-right: 30px;

    display: flex;
    align-items: center;
    gap: 15%;
}

.contTiImg {
    width: 26%;
}

.cartETitle {
    margin-bottom: 8px;
}

.cartEId {}

.cartEImg {
    width: 130px;
}

.cartEPrice {
    font-size: 19px;
    color: rgb(22, 146, 218);
    font-weight: 700;
}