.contCartPage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contCartElTot {
    display: grid;
    grid-template-columns: 70% 30%;
    width: 80%;
}

.cartPageTitle {
    margin-top: 50px;
    margin-bottom: 80px;
}

.contCVacio {
    padding: 0px 40px;
    height: 580px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.volverInP {
    text-align: center;
    font-size: 18px;
    font-weight: 700;
}

/* MEDIA QUERYES */
/* -------------- 10250 px -------------- */
@media screen and (max-width: 1300px) {
    .contCartElTot {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 80%;
    }

    .contCVacio {
        padding: 0px 40px;
        height: 500px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 50px;
    }
}

/* -------------- 10250 px -------------- */
@media screen and (max-width: 600px) {
    .contCartElTot {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 80%;
    }

    .contCVacio {
        padding: 0px 40px;
        height: 440px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 50px;
    }

    .volverInP {
        text-align: center;
        font-size: 16px;
        font-weight: 700;
    }
}