.contLogin {
    height: 600px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.titleLog {
    margin-bottom: 30px;
    color: rgb(151, 151, 151)
}