/* Contenedor Footer */
.contFoot {
    background: #1b1b1b;
}

/* Redes sociales */
.contSocial {
    height: 60px;
    background: #124a80;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.contFootC {
    height: 240px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Enlaces */
.footUl {
    display: flex;
    gap: 30px;
    margin-bottom: 30px;
}

.footLink {
    color: white;
    font-size: 13px;
}

/* Imagenes store */
.contFootimg {
    display: flex;
    gap: 30px;
    margin-bottom: 40px;
}

.footFText {
    font-size: 13px;
    color: white;
    text-align: center;
}

/* MEDIA QUERYES */
@media screen and (max-width: 770px) {
    .contSocial {
        height: 50px;
        gap: 40px;
    }

    .contFootC {
        height: 200px;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }


    .footUl {
        display: none;
    }

    .footFText {
        width: 80%;
        font-size: 11px;
        color: white;
        text-align: center;
    }

}