.contHome {
    height: max-content;
}

.sectListP {
    width: 100%;
    margin-top: 100px;
    margin-bottom: 60px;
}

.prodTitle {
    height: max-content;
    text-align: center;
    font-size: 30px;
}

.contProdC {
    width: 100%;
    height: max-content;
    margin-top: 70px;

    display: flex;
    justify-content: center;
}

.contProdC2 {
    width: 80%;
    height: max-content;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 60px;
}

/* MEDIA QUERYES */
/* -------------- 1450 px -------------- */
@media screen and (max-width: 1450px) {
    .contProdC2 {
        grid-template-columns: repeat(3, 1fr);
        gap: 60px;
    }
}

/* -------------- 900 px -------------- */
@media screen and (max-width: 900px) {
    .contProdC2 {
        grid-template-columns: repeat(2, 1fr);
        gap: 60px;
    }

}

/* -------------- 600 px -------------- */
@media screen and (max-width: 600px) {
    .contProdC {
        width: 100%;
        margin-top: 50px
    }


    .contProdC2 {
        width: 65%;
        grid-template-columns: repeat(1, 1fr);
        gap: 60px;
    }

    .sectListP {
        width: 100%;
        margin-top: 50px;
        margin-bottom: 60px;
    }

    .prodTitle {
        height: max-content;
        text-align: center;
        font-size: 23px;
    }
}

/* -------------- 600 px -------------- */
@media screen and (max-width: 400px) {

    .contProdC2 {
        width: 80%;
        grid-template-columns: repeat(1, 1fr);
        gap: 60px;
    }

}