.contHome {
    height: max-content;
}

.sectListP {
    width: 100%;
    margin-top: 100px;
    margin-bottom: 60px;
}

.prodTitle {
    text-align: center;
    font-size: 30px;
}

.contProdC {
    width: 100%;
    height: 1000px;
    margin-top: 70px;

    display: flex;
    justify-content: center;
}

.contProdC2 {
    width: 80%;
    height: 990px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 60px;
}